/* Omarchy swayosd — Bloodborne */
@define-color background-color #0f0c0c;
@define-color border-color #7d1a14;
@define-color label #d8cbb8;
@define-color image #d8cbb8;
@define-color progress #7d1a14;

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
