/* Omarchy swayosd — Kanagawa Dragon */
@define-color background-color #181616;
@define-color border-color #393836;
@define-color label #c5c9c5;
@define-color image #c5c9c5;
@define-color progress #C34043;

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
